@import url(http://fonts.googleapis.com/css?family=Roboto); /*REMOVE CHANGE TO YOUR FONT*/

/*global*/

body{
background:url("../img/upfeathers.png");


}

p {
font-family: 'Quicksand', sans-serif;

}

h1,h2,h3,h4,h5,h6{
font-family: 'Pacifico', cursive;

}


#contact{
margin-left: 73px;
}
#youtube-big{
		display:none;
	}





#home{
text-align: center;
font-size:100px;
padding-top: 100px;
margin-bottom: -18px;
transition-property: transform;
transition-duration: 1.5s;
transition-timing-function: linear;
color:red;
}

#home:hover{
transform:scale(1.25);
color:skyblue;
}


#up{

max-width: 100px;
}


/*menu CREDIT TO CODEPEN USER */





nav {
  max-width: full;

  /* The mask-image gives us some extra fading. It is not necessary but without this, you can't face out the box-shadows. This clips our menu */
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  /* Using padding instead of margin for the top and bottom here will keep our box-shadow visible and not affected by the mask-image */
  padding: 75px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /*
  font-family: "Roboto";*/
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

/* layout */

.container{
	/*background:linear-gradient(90deg, #f9bb69, pink, purple, royalblue);*/
    background:url(../img/retina_wood_@2X.png);
	margin:7% auto 5%;
	width:70%;
    border-radius: 55px;
}

.clearfix {
  overflow: auto;
}

article{
height: 1300px;
}

article section{

		float:left;
		padding:4%;
        margin-left:1%;
}

/* Adpative Content*/

iframe, img{
	width:100%;
	max-width: 100%;

}

/*media queries*/

/*desktop*/

@media (max-width:960px){
	#home{
		width:300px;
	}
	#youtube-big{
		display:none;
	}

}

/*tablet*/
@media (max-width:768px){
		#youtube-big{
		display:block;
	}
	#youtube-med{
	display:none;}


}

/*mobile*/
@media (max-width:480px){

	article section{
		float:none;
		max-width:100%;
	}
	

}

